body {
    background-color: #002e51;
    padding: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.element {
    background-color: #df6b86;
    border: 4px solid #d5143a;
    text-align: center;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
}
