
.b-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 80px 100px 100px 200px 100px;*/
    grid-gap: 20px 10px;
}

.b-header,
.b-footer,
.b-section--figure {
    border: 2px solid #BD10E0;
    background-color: #F9F4F8;
    padding: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.b-header {
    grid-column: 1 / -1;
}

.b-section {
    background-color: #DF6B86;
    border: 5px solid #D5143A;
    padding: 20px;
    color: black;
    font-size: 30px;
}

.b-section--figure {
    grid-column: 1 / -1;
}

.b-section--1 {

}

.b-section--2 {

}

.b-section--3 {
    grid-column: 1 / -1;
}

.b-footer {
    background: white;
    grid-column: 1 / -1;
}

